.label {
  font-size: 20px;
  color: #26a69a;
  margin-bottom: 10px;
}

.inputTitle {
  font-size: 18px;
  color: #c9ced9;
  padding: 5px 10px;
  width: 300px;
}

.inputBody {
  font-size: 16px;
  color: #c9ced9;
  padding: 10px 10px;
  height: 100px;
  width: 80%;
}

.center {
  text-align: center;
}
